# Refine the Data

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('tweets.csv', sep="\t")

In [5]:
df.head()

,created_at,screen_name,text
0,Fri Nov 18 23:59:58 +0000 2016,arunprasad72,RT @Praveen_1singh: First the stone pelting st...
1,Fri Nov 18 23:59:49 +0000 2016,pranavkisu,RT @NewDelhiTimesIN: Is the #demonetization of...
2,Fri Nov 18 23:59:48 +0000 2016,bablumohan,RT @scoopwhoopnews: #BREAKING Banks across Ind...
3,Fri Nov 18 23:59:37 +0000 2016,NagrathRob,RT @DrGPradhan: .@ravishndtv of @ndtv spreadin...
4,Fri Nov 18 23:59:28 +0000 2016,ManishPrasa,RT @YesIamSaffron: जब भी #Demonetization व् का...

To get the date of the title - we will need the following algorithm
- If the string contains **hours** we can consider it **1 day**
- And if the string has **day**, we pick the number preceding the **day**

To apply this algorithm, we need to be able to pick these words and digits from a string. For that we will use Regular Expression.

## Introduction to Regular Expression (Regex)

Regular expression is a way of selecting text using symbols in a string.

Refer to the following links for an interactive playground
- [http://regexr.com](http://regexr.com/)
- [http://regex101.com/](http://regex101.com/)

In [35]:
import re

In [36]:
test_string = "Hello world, welcome to 2016."

In [37]:
# We can pass the whole string and re.search will give the first occurence of the value
# re.search - This function searches for first occurrence of RE pattern within string.
a = re.search('Hello world, welcome to 2016',test_string)

In [38]:
a

In [39]:
a.group()

'Hello world, welcome to 2016'

In [40]:
# Match the first letters in the string
a = re.search('.',test_string)
a.group()

'H'

In [41]:
# Match all the letters in the string
a = re.search('.*',test_string)
a.group()

'Hello world, welcome to 2016.'

In [42]:
a = re.search('Hello',test_string)
print(a)

<_sre.SRE_Match object; span=(0, 5), match='Hello'>

** Some basic symbols**

**`?`**   

The question mark indicates zero or one occurrences of the preceding element. For example, colou?r matches both "color" and "colour".

**`\*`**

The asterisk indicates zero or more occurrences of the preceding element. For example, ab*c matches "ac", "abc", "abbc", "abbbc", and so on.

**`\+`**	
The plus sign indicates one or more occurrences of the preceding element. For example, ab+c matches "abc", "abbc", "abbbc", and so on, but not "ac".

In [43]:
a = re.search('\w.',test_string)
print(a)

<_sre.SRE_Match object; span=(0, 2), match='He'>

In [44]:
a = re.search('\w*',test_string)
print(a)

<_sre.SRE_Match object; span=(0, 5), match='Hello'>

### Exercises

Write a regex to remove URL link from the tweets